#questions-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#question-cont {
  width: 100%;
  height: 25vh;
  margin-top: 50px;
}

#question-heading {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 150px;
  width: 100%;
  text-align: center;
}

#questions {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 200px;
}

.question {
  border-bottom: 5px rgb(251, 166, 4) solid;
  height: auto;
  width: 80%;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
  padding: 20px;
  flex-direction: column;
  transition: height 325ms linear;
}

.question-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.answers {
  display: none;
}

#first-up {
  display: none;
}

#second-up {
  display: none;
}

#third-up {
  display: none;
}

#fourth-up {
  display: none;
}

@media (max-width: 1024px) {
  .question-heading {
    font-size: 1.1rem;
    font-weight: bold;
  }
  #question-heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 100px;
  }
  #question {
    width: 100%;
  }
  .question {
    width: 90%;
  }
  .answers {
    font-size: 1.1rem;
  }
}

/* Questions For 768px */

@media (max-width: 768px) {
  .question-heading {
    font-size: 1.1rem;
    font-weight: bold;
  }
  .answers {
    font-size: 1.1rem;
  }
  #question-heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 100px;
  }
  #question {
    width: 100%;
  }
  .question {
    width: 90%;
  }
}

/* Questions For 425px */

@media (max-width: 425px) {
  #question-heading {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 15%;
    margin-bottom: 60px;
  }

  .answers {
    font-size: 0.9rem;
  }

  #question-cont {
    width: 100%;
    height: 35vh;
    margin-top: 50px;
  }

  .question-heading {
    font-size: 0.9rem;
    font-weight: bold;
  }
}

/* Questions For 375px */

@media (max-width: 375px) {
  #question-heading {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .question-heading {
    font-size: 0.9rem;
    font-weight: bold;
  }
  .answers {
    font-size: 0.8rem;
  }
}

/* Questions For 320px */

@media (max-width: 320px) {
  #question-cont {
    height: 40vh;
  }
  #question-heading {
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    padding-left: 40px;
  }
  .question-heading {
    font-size: 0.8rem;
    font-weight: bold;
  }
  .answers {
    font-size: 0.8rem;
  }
}
